@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: white;
}

html, body {
    height: 100%;
    background: #592067;
    background: -moz-linear-gradient(top, #592067 0%, #FD9CA5 100%);
    background: -webkit-linear-gradient(top, #592067 0%, #FD9CA5 100%);
    background: linear-gradient(to bottom, #592067 0%, #FD9CA5 100%);
}

body {
    display: flex;
    flex-direction: column;
}

.blur {
    /* .container text */
    text-align:  center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;

    background: rgba(255, 255, 255, 0.0001);
    backdrop-filter: blur(1.5px);

    border-radius: 15px;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -300px;
    margin-top: -200px;
}

.container {
    background-image: url('img/sunset.jpg');
    background-repeat:  no-repeat;
    background-size: cover;
    border-radius: 15px;
    width: 600px;
    height: 400px;
}

/* .container background */
.container {
    /* .container position */
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -300px;
    margin-top: -250px;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
    padding-left: 10px;
}

.add-info {
    width: 100%;
}

h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

.search {
    width: 100%;
    padding: 10px;
}

.search input[type=text] {
    color: black;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border-bottom: 1px solid #ccc;
}

.search #search-location button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border:none;
    cursor: pointer;
}


#search-location {
    float: right;
}

.temperature {
    font-size: 100px;
}

.location {
    font-size: 50px;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-bottom: 2px solid rgba(255, 255, 255, .3);
    font-weight: 15px;
}

li { 
    color: rgba(255, 255, 255, .3);
    padding-right: 20px;
}

li:hover {
    cursor: pointer;
    color: white;
}

li:active {
    color: black;
}

